<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>JIKIKI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap"
    rel="stylesheet">
</head>

<body>
  <% include partials/_header.ejs %>

    <!-- FEATURED ITEMS SECTION -->

    <h1>Trending Products</h1>
    <p>The Most Liked Products!</p>
    <section id="product1" class="section-p1">
      <div class="grid-container">
        <% for(let listing of trending) { %>
          <div class="pro-container">
            <img src="<%= listing.image_url %>" alt="image">
            <div class="title">
              <span class="section-p1_title"><%= listing.title %></span>
              <h4 class="section-p1_price">$<%= listing.price/100.0 %>
                  <h5 class="des"><%= listing.description %></h5>
                  <h5 class="des">Condition: <%= listing.condition %></h5>
                  <h5 class="des">Category: <%= listing.category %></h5>
                  <% if (user) { %>
                    <div class="icons">
                      <a target="_blank" href="mailto:<%= listing.email %>"><i class="fas fa-envelope"></i></a>
                      <i class="fas fa-heart"></i>
                      <span><%= listing.trending_rating %></span>
                      </form>
                    </div>
                  <% } %>
              </h4>
            </div>
          </div>
            <% } %>
    </section>

    <!-- SEE ALL THE PRODUCTS SECTION -->

    <h1>See All Products</h1>
    <section id="product2" class="section-p1">
      <div class="grid-container">
        <% for(let listing of listings) { %>
          <div class="pro-container">
            <img src="<%= listing.image_url %>" alt="image">
            <div class="title">
              <span class="section-p1_title">
                <%= listing.title %>
              </span>
              <h4 class="section-p1_price">$<%= listing.price/100.0 %></h4>
              <h5 class="des"><%= listing.description %></h5>
              <h5 class="des">Condition: <%= listing.condition %></h5>
              <h5 class="des">Category: <%= listing.category %></h5>
              <% if (user) { %>
                <div class="icons">
                  <a target="_blank" href="mailto:<%= listing.email %>"><i class="fas fa-envelope"></i></a>
                  <form class="like_button_form" action="/api/likes" method="POST">
                    <input name="listing_id" value="<%= listing.id%>" type="hidden">
                    <button><i class="fas fa-heart"></i>
                      <span>
                        <%= listing.trending_rating %>
                      </span></button>
                  </form>
                </div>
                <% } %>
            </div>
          </div>
          <% } %>
      </div>
    </section>
</body>

</html>