<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>JIKIKI</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">    
</head>

<body>
  <% include partials/_header.ejs %>
    <div class="overlay">
      <a class="close">&times;</a>
      <div class="overlay__content">
        <a href="#">JIKIKI Market</a>
        <a href="#">Wishlist</a>
        <a href="#">Messages</a>
        <a href="#">Create Listings</a>
        <a href="#">My Listings</a>
      </div>
    </div>

    <!-- FEATURED ITEMS SECTION -->
    <section id="feature" class="section-p1">

    </section>
    <h1>Featured Products</h1>
    <p>Check out our new featured products!</p>
    <section id="product1" class="section-p1">
      <% for(let listing of featured) { %>
        <div class="pro-container">
          <div class="pro">
            <img src="<%= listing.image_url %>" alt="image">
            <div class="title">
              <span class="section-p1_title"><%= listing.title %></span>
              <h5 class="des"><%= listing.description %></h5>
              <div class="star">
                <i class="fas fa-envelope"></i>
                <i class="fas fa-heart"></i>
              </div>
              <h4 class="section-p1_price">$<%= listing.price/100.0 %>
              </h4>
            </div>
          </div>
        </div>
        <% } %>
    </section>

    <!-- SEE ALL THE PRODUCTS SECTION -->
    <section id="feature" class="section-p1">

    </section>
    <h1>See All Products</h1>
    <section id="product2" class="section-p1">
      <% for(let listing of listings) { %>
        <div class="pro-container">
          <div class="pro">
            <img src="<%= listing.image_url %>" alt="image">
            <div class="title">
              <span class="section-p1_title"><%= listing.title %></span>
              <h5 class="des"><%= listing.description %></h5>
              <div class="my-listing__details">
                <li>Condition: <%= listing.condition %></li>
                <li>Category: <%= listing.category %></li>
              </div>
              <div class="icons">
                <i class="fas fa-envelope"></i>
                <i class="fas fa-heart"></i>
              </div>
              <h4 class="section-p1_price">$<%= listing.price/100.0 %></h4>
            </div>
          </div>
        </div>
        <% } %>
    </section>

    <!-- <section class="listing-container">
      <% for(let listing of listings) { %>
        <article class="my-listing" id="featured-items">
          <section class="my-listing__image_url">
            <img src="<%= listing.image_url %>" alt="image" width="100">
          </section>
          <section class="my-listing__details">
            <h3 class="my-listing__price">$<%= listing.price/100.0 %>
            </h3>
            <h2 class="my-listing__title">
              <%= listing.title %>
            </h2>
            <ul class="my-listing__details">
              <li>Description: <%= listing.description %></li>
              <li>Condition: <%= listing.condition %></li>
              <li>Category: <%= listing.category %></li>
            </ul>
            <footer class="my-listing__footer">
              <div class="icons">
                <i class="fas fa-envelope"></i>
                <i class="fas fa-heart"></i>
              </div>
            </footer>
          </section>
        </article>
        <% } %>
    </section> -->
</body>

</html>